 @charset "UTF-8";

@font-face{
    font-family: idroid;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding-left: 5px;    
    padding-right: 5px;
    
}
main  img{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
img#pequeno{
    max-width: 300px;
    display: block;
    margin: auto;
}
:root{
    --cor0: rgb(89, 253, 199);
    --cor1: rgb(44, 146, 44);
}
body{
    font-family: idroid;
    background-color: rgb(89, 253, 199);
}
a.externo::after{
    content: '\0020\1F517';
}
header{
    background-image: linear-gradient(rgb(44, 146, 44), rgb(31, 224, 31));
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
header > h1 {
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.712);
    color: aliceblue;
    
}
header > p {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    color: aliceblue;
}
nav{
    background-color: rgb(97, 160, 86);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.422);
}
main{
    background-color: 11F517;
    max-width: 850px;
    min-width: 320px;
    margin: auto;
    padding-left: 15px;    
    padding-right: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.616);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
picture#foto{
    margin-left: -25px;
}
picture#mascote{
    margin-left: -25px;
}
div{
    text-align: center;
}
div.video{
    background-color: rgba(41, 168, 32, 0.137);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
p{
    text-align: justify;
    margin: 5px 0px;
}
main h2{
    background-image: linear-gradient(to right, rgba(66, 161, 66, 0.639), transparent);
    font-size: 1.8em;
}
main p {
    text-indent: 25px;
    font-size: 1em;
    line-height: 1.5em;
}
main strong{
    background-color: rgba(51, 128, 49, 0.776);
}
main a {
    color: rgb(55, 185, 75);
    background-color: rgba(143, 156, 68, 0.269);
}
h1, h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}
aside > h2{
    background-color: rgb(22, 74, 22);
    color: aliceblue;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    /*a margin negativa faz ela almentar '-'*/
    border-radius: 10px 10px 0px 0px ;
}
aside{
    background-color: rgba(47, 176, 47, 0.979);
    padding: 10px;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.203);
}
aside > ul{
    list-style-type: '\2714\0020';
    list-style-position: inside;
    /*esse comando deixa os pontos dentro da caixa*/
    columns: 2;

}
footer > p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav > a{
    color: aliceblue;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
}